* {
    margin: 0;
    padding: 0;
}
.grid.container {
    display: grid;
    grid-template-areas: 
    "navegacion"
    "busqueda"
    "principal"
    "footer";
    grid-template-rows: 15% 15% 1fr 15% ;
    width: 100vw;
    height: 100vh;
}

.navegacion {
    grid-area: navegacion;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navegacion div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px
}

.navegacion div img {
    width: 80px;
    border-radius: 50px;
}
.navegacion div p {
    padding-left: 20px;
}

.navegacion nav {
    
}
.busqueda {
    grid-area: busqueda;
}

.principal {
    grid-area: principal;
}

.footer {
    grid-area: footer;
}