@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;600&family=Montserrat:wght@200;400;700&family=Nunito:wght@400;700&family=Poppins:wght@300;500&family=Raleway:wght@400;500&family=Roboto:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "navegacion"
    "busqueda"
    "principal"
    "footer"
    ;
    grid-template-rows: 100px 100px 1fr 100px;
    width: 100%;
    height: 100vh;
}

/* SECCION NAVEGACION */
.navegacion {
    grid-area: navegacion;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.navegacion .titulo {
    display: flex;
    align-items: center;
    padding: 15px
}
.navegacion .titulo img {
    width: 80px;
    border-radius: 50px;
}
.navegacion .titulo h3 {
    padding-left: 20px;
}
.navegacion .menus .icono {
    padding-right: 20px;
}

/* SECCION BUSQUEDA */
.busqueda {
    grid-area: busqueda;
    background-color: #D6CC99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.busqueda p {
    padding: 5px;
    font-size: 20px;
}
.busqueda select {
    width: 350px;
    padding: 10px;
    border-radius: 7px;
}

/* SECCION PRINCIPAL */
.principal {
    grid-area: principal;
    background: #F1EFEF ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal .cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.principal .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(212, 210, 210);
    padding: 20px;
    margin-top: 15px;
    gap: 10px;
    border-radius: 5px;
    width: 300px;
    overflow: hidden;

}
.principal .cards .card img {
    width: 300px;
    border: solid 1px rgb(211, 211, 211);
   object-fit: cover;
   transition:  0.80s;
}
.principal .cards .card img:hover {
    object-fit: cover;
    width: 100%;
    transform: scale(1.1);
}

.principal .cards .card p {
    text-align: center;
    font-size: 20px;
}
.principal .cards .card button {
    width: 100px;
    height: 40px;
    background-color: #e4d9a5;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: transform 1s ;
}
.principal .cards .card button:hover {
    transform: scale(1.1);
    background-color: #7e712e;
    color: white;
}

.principal .paginas {
    margin: 40px;
}
.principal .paginas button {
    width: 40px;
    height: 40px;
}

/* PIE DE PAGINA */
.footer {
    grid-area: footer;
    background-color: rgb(18, 17, 17);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 25px;
}
.footer .iconos i {
    margin: 10px;
}
.footer .iconos a {
    color: #F1EFEF;
}
@media (max-width: 576px) {
    .navegacion nav .menu {
        display: none;
    }
}
@media (min-width: 576px) {
    .grid-container {
        grid-template-areas: 
        "navegacion busqueda"
        "navegacion principal"
        "navegacion principal"
        "navegacion principal"
        "footer principal";
        grid-template-columns: 15% 1fr;
        height: 100%;
    }
    .navegacion{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .navegacion .menus .icono {
        display: none;
    }
    .navegacion .menus .menu {
        text-align: center;
        margin: 10px;
    }
    .navegacion .menus .menu p {
        padding: 10px;
    }
    .principal .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer {
        padding: 20px;
    }
    .footer i {
        padding-top: 10px;
    }
    .footer h3 {
        text-align: center;
    }
}
